<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./Styles/global.css" />
    <title>Professional</title>
  </head>
  <body>
    <header>
      <!-- Navigation Menu-->
      <nav>
        <a href="./home.html">Home</a>
        <a href="./interests.html">Interests</a>
        <a href="./hobbies.html">Hobbies</a>
        <a href="./family.html">Family</a>
        <a href="./education.html">Education</a>
        <a href="./professional.html">Professional</a>
        <a href="./hometown.html">Hometown</a>
        <a href="./contactme.html">Contact Me</a>
      </nav>
    </header>
    <main id="app">
      <!-- Page Title -->
      <h1>Professional</h1>
      <!-- Paragraph -->
      <p class="cramped">
        I have not had many jobs, but one of the more rewarding jobs I have had
        was as an English teacher in a small Japanese village called Ouchi.
      </p>
      <!-- Paragraph -->
      <p>Here are some of the goodbye cards my students wrote for me:</p>

      <div class="translations">
        <figure class="card-container" v-for="card in cards" :key="card.id">
          <img
            class="card"
            :src="card.source"
            :alt="card.alt"
            @mouseover="card.hovered = true"
            @mouseout="card.hovered = false"
          />
          <figcaption v-if="card.hovered" class="caption">
            {{ card.caption }}
          </figcaption>
        </figure>
      </div>
    </main>
    <!-- Footer -->
    <footer>
      <p>&copy; 2023. All rights reserved.</p>
    </footer>
    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./Scripts/imgcaps.js"></script>
  </body>
</html>
