/* Relevant to all or multiple pages */
header {
    position: fixed;
    background-color: purple;
    padding-top: 30px;
    padding-bottom: 20px;
    width: 100%;
    margin-top: -20px;
    border: 2px solid black;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header a {
    border: 3px  outset rgb(195, 148, 241);
    background-color: rgb(195, 148, 241);
    padding: 5px;
}

body {
    background-color: rgb(206, 136, 223);
    margin: 0;
    text-align: center;
    background-image: url(../Assets/background-pngwing-com.png);
    background-size: cover;
}

body a {
   color: white;
}

body a:hover {
    color: rgb(130, 226, 125);
    transition: 0.15s;
}

main {
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: rgb(208, 163, 241);
    margin-left: 20%;
    margin-right: 20%;
}

footer {
    background-color: purple;
    border: 2px solid black;
}

.grid-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 40px;
}

.too-big {
    width: 70%;
    border-radius: 18px;
}

section {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}

figcaption {
    font-size: 10pt;
}

blockquote {
    font-size: 16pt;
}

.cramped {
    padding-left: 40px;
    padding-right: 40px;
}

/* Interests page specific CSS */

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 60px;
}

caption {
    font-weight: bold;
    font-size: 16pt;
}

tfoot{
    font-style: italic;
}

/* Hobbies page specific CSS */

.anime-list {
    display: inline-block;
    text-align: left;
}

/* Education page specific CSS */

.a-little-smaller {
    width: 30%;
}

/* Professional page specific CSS */

.translations {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 45px;
}

.card {
    width: 70%;
    border-radius: 10px;
}

/* Hometown page specific CSS */

article {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}

/* Contact Me page specific CSS */

label {
    font-weight: bold;
}

#submit-button {
    background-color: blueviolet;
    border: 4px;
    border-color: purple;
    border-style: inset;
    color: aliceblue;
    font-weight: bold;
    padding: 12px;
}

input[type=text], textarea {
    background-color:rgb(130, 226, 125);
}

.error-message {
    color: rgb(146, 44, 44);
    font-weight: bold;
}

.error input[type=text] {
    background-color: rgb(245, 74, 74);
    border: 2px;
    border-style: double;
    border-color: black;
}

form {
    display: flex;
    flex-direction: column;
    background-color: rgb(208, 163, 241);
    margin-left: 30%;
    margin-right: 30%;
    padding-bottom: 70px;
    align-items: center;
    
}

/* Changes Depending on Screen size */

@media (max-width: 500px) {
    .responsive {
        width: 100%;
        height: auto;
    }
    h1 {
        font-size: 20pt;
    }
    main {
        padding-top: 300px;
    }
}

@media (max-width: 530px) {
    .responsive {
        width: 100%;
        height: auto;
    }
    nav {
        flex-direction: column;
    }
    main {
        padding-top: 300px;
    }
    .translations {
        grid-template-columns: 1fr;
    }
    .grid-row {
        grid-template-columns: 1fr;
    }

}

@media  (min-width: 531px) and (max-width: 999px) {
    .responsive {
        width: 100%;
        height: auto;
    }
    h1 {
        font-size: 30pt;
    }
    .translations {
        grid-template-columns: 1fr 1fr;
    }
}

@media  (min-width: 1000px) {
    .responsive {
        width: 100%;
        height: auto;
    }
    h1 {
        font-size: 40pt;
    }

}